
<div>   
    <div ng-hide="showList">
        <div >
            <ul class="medium-block-grid-2 large-block-grid-3">
                <li ng-repeat="item in flatList" class="zue-box-outer" ng-if="isGroupSelected(item.groupname) || allSelected">
                    <div>
						<a class="track track-cta track-tile" ng-href="{{item.item.url}}" target="_blank">
                            <div class="zue-box-inner">
                                <div class="zue-box-content box-padding-medium" >
                                    <span class="font-opensans color-primary small" >{{item.groupname}}</span>
                                    <img class="right small-icon" ng-src="assets/images/{{item.item.logo}}" alt="{{item.item.title}}" ng-if="item.item.logo">
                                    <h4 class="font-opensans color-white">{{item.item.title}}</h4>
                                    <p class="font-opensans" ng-if="item.item.name">{{item.item.name}}</p>
                                    <p  class="teaser-text tile-content tile-content-medium color-white">{{item.item.description}}</p>
                                </div>
                            </div>
                        </a>

                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div ng-show="showList">
        <div ng-repeat="group in groups" >
            <div ng-if="group.selected || allSelected" style="margin-bottom: 25px">
                <h3 class="headersize-3 color-primary"  style="margin: 25px 0px 15px">{{group.name}}</h3>
                <div ng-repeat="groupItem in group.items"  ng-class-even="'odd-class'" ng-class-odd="'even-class'" class="list-item" style="padding: 25px">
					<a class="track track-cta track-tile" ng-href="{{groupItem.url}}" target="_blank">
                        <div class="tile-content">
                            <img class="right small-icon" ng-src="assets/images/{{groupItem.logo}}" alt="{{groupItem.title}}" ng-if="groupItem.logo">
                            <h4 class="font-opensans " >{{groupItem.title}}</h4>
                            <p class="font-opensans color-white" ng-if="item.item.name">{{item.item.name}}</p>
                            <p  class="teaser-text text-medium-up color-white" >{{groupItem.description}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>