@import "../../style/mixins/layout";
@import "../../style/mixins/fonts";
@import "../../style/mixins/functions";
@import "../../style/vars/colors";
@import "../../style/vars/spacing";
@import "../../style/vars/media";
@import "../../style/vars/transitions";

.TileGrid {
  @include center-container-wrapper;

  & .grid {
    @include container-responsive-width;
    margin-bottom: $pad-rem-lg;

    --num-cols: 3;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-gap: $pad-rem-md;
    grid-auto-rows: minmax(200px, auto);

    @media #{$w-medium} {
      --num-cols: 2;
      grid-gap: 0;
    }

    @media #{$w-am-small} {
      --num-cols: 1;
    }
  }

  & .grid > .grid-cell {

    $color-a: #e0e0e0;
    $color-b: #ccc;
    $transition-duration: $transition-fast;

    height: 100%;

    --background-col: #{$color-a};
    &:nth-child(even) {
      --background-col: #{$color-b};
    }

    @media #{$w-medium} {
      &:nth-child(4n + 1) {
        --background-col: #{$color-a};
      }
      &:nth-child(4n + 2) {
        --background-col: #{$color-b};
      }
      &:nth-child(4n + 3) {
        --background-col: #{$color-b};
      }
      &:nth-child(4n + 4) {
        --background-col: #{$color-a};
      }
    }

    @media #{$w-am-small} {
      &:nth-child(odd) {
        --background-col: #{$color-a};
      }
      &:nth-child(even) {
        --background-col: #{$color-b};
      }
    }
  }

  & .grid-cell > .tile {
    --zoom-scale: 1.1;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    $transition-duration: $transition-fast;

    width: 100%;
    height: 100%;
    padding: $pad-rem-sm;
    transform: scale(1);
    transition: transform $transition-duration,
                background-color $transition-duration;

    background-color: var(--background-col);

    &:hover {
      transform: scale(var(--zoom-scale));
      background-color: $c-primary;
    }

    @media #{$w-am-medium} {
      --side-length: 100%;
      --zoom-scale: 1;
      box-shadow: none;
      padding: $pad-rem-md;
    }
  }
}
