@import "../../style/mixins/functions";
@import "../../style/vars/spacing";
@import "../../style/vars/colors";

.PersonTile {
  @include _flex(row, stretch, stretch);
  padding: $pad-rem-md $pad-rem-xs $pad-rem-xs;
  height: 100%;

  & .profile-container {
    @include _flex(column, center, flex-start);
    margin-right: $pad-rem-md;
    flex-shrink: 0;

    & .title {
      // color: $c-primary;
      font-weight: bold;
    }
  }

  & .description-container {
    flex-shrink: 1;

    & .description {
      // font-style: italic;
      color: $c-softer-text-on-light;
    }
  }

  & .avatar {
    width: 100px;
    border-radius: 50px;
  }
}
