/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


/* Zuehlke Font */

// Regular
@font-face {
  font-family: 'AA Zuehlke OTPS';
  src: url('../../assets/fonts/aazuotps_30.12.13-webfont.eot');
  src: url('../../assets/fonts/aazuotps_30.12.13-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/aazuotps_30.12.13-webfont.woff2') format('woff2'),
  url('../../assets/fonts/aazuotps_30.12.13-webfont.woff') format('woff'),
  url('../../assets/fonts/aazuotps_30.12.13-webfont.ttf') format('truetype'),
  url('../../assets/fonts/aazuotps_30.12.13-webfont.svg#aa_zuehlke_otpsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Medium
@font-face {
  font-family: 'AA Zuehlke OTPS';
  src: url('../../assets/fonts/aazumotp_30.12.13-webfont.eot');
  src: url('../../assets/fonts/aazumotp_30.12.13-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/aazumotp_30.12.13-webfont.woff2') format('woff2'),
  url('../../assets/fonts/aazumotp_30.12.13-webfont.woff') format('woff'),
  url('../../assets/fonts/aazumotp_30.12.13-webfont.ttf') format('truetype'),
  url('../../assets/fonts/aazumotp_30.12.13-webfont.svg#aa_zuehlke_med_otpsregular') format('svg');
  font-weight: bold;
  font-style: normal;

}

// Italic
@font-face {
  font-family: 'AA Zuehlke OTPS';
  src: url('../../assets/fonts/aazuriotps_30.12.13-webfont.eot');
  src: url('../../assets/fonts/aazuriotps_30.12.13-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/aazuriotps_30.12.13-webfont.woff2') format('woff2'),
  url('../../assets/fonts/aazuriotps_30.12.13-webfont.woff') format('woff'),
  url('../../assets/fonts/aazuriotps_30.12.13-webfont.ttf') format('truetype'),
  url('../../assets/fonts/aazuriotps_30.12.13-webfont.svg#aa_zuehlke_otpsitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

// Medium Italic
@font-face {
  font-family: 'AA Zuehlke OTPS';
  src: url('../../assets/fonts/aazumiotp_30.12.13-webfont.eot');
  src: url('../../assets/fonts/aazumiotp_30.12.13-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/aazumiotp_30.12.13-webfont.woff2') format('woff2'),
  url('../../assets/fonts/aazumiotp_30.12.13-webfont.woff') format('woff'),
  url('../../assets/fonts/aazumiotp_30.12.13-webfont.ttf') format('truetype'),
  url('../../assets/fonts/aazumiotp_30.12.13-webfont.svg#aa_zuehlke_med_otpsMdIt') format('svg');
  font-weight: bold;
  font-style: italic;
}
