@import "../../style/vars/colors";
@import "../../style/vars/misc";
@import "../../style/mixins/fonts";

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @include font-zue-regular;
  font-size: $fs-xl;
  margin: 30px 0 20px 0;
}

h2 {
  @include font-open-sans-regular;
  font-size: $fs-lg;
  margin: 30px 0 20px 0;
}
