@import "../../style/vars/colors";
@import "../vars/font-size";
@import "../../style/mixins/fonts";
@import "../../style/vars/media";

$height-regular: 100px;
$height-smaller-screens: 55px;

:root {
  --header-height: #{$height-regular};

  @media #{$w-am-small} {
    --header-height: #{$height-smaller-screens};
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @include font-zue-regular;
  font-size: $fs-xl;
  margin: 30px 0 20px 0;
}

h2 {
  @include font-open-sans-regular;
  font-size: $fs-lg;
  margin: 30px 0 20px 0;
}

strong {
  font-weight: bold;
}

button {
  cursor: pointer;
}
