/*
Screen sizes:
  - xlarge: width=[1600px,]
  - large: width=[1024px, 1599px]
  - medium: width=[641px, 1023px]
  - small: width=[,640px]
 */

/* Max width of a large screen (above that: xlarge) */
$max-screen-width-large: 1599px;

/* Max width of a medium screen (above that: large) */
$max-screen-width-medium: 1023px;

/* Max width of a small screen (above that: medium) */
$max-screen-width-small: 640px;

/* Derived values */
$min-screen-width-xlarge: $max-screen-width-large + 1;
$min-screen-width-large: $max-screen-width-medium + 1;
$min-screen-width-medium: $max-screen-width-small + 1;
