/* Font style mixins */
@mixin font-open-sans-regular() {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-open-sans-bold() {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin font-zue-regular() {
  font-family: "AA Zuehlke OTPS", "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin font-zue-medium() {
  font-family: "AA Zuehlke OTPS", "Open Sans", sans-serif;
  font-weight: bold;
  font-style: normal;
}

@mixin font-zue-italic() {
  font-family: "AA Zuehlke OTPS", "Open Sans", sans-serif;
  font-weight: normal;
  font-style: italic;
}

@mixin font-zue-medium-italic() {
  font-family: "AA Zuehlke OTPS", "Open Sans", sans-serif;
  font-weight: bold;
  font-style: italic;
}
