@import "../mixins/fonts";
@import "../vars/colors";
@import "../vars/media";

@mixin _flex($dir, $align, $justify) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify;
}

@mixin center-container-wrapper {
  width: 100%;
  @include _flex(column, center, flex-start);
}

@mixin container-responsive-width {
  width: 100%;

  /* Large screens or larger */
  @media #{$w-al-large} {
    width: 1000px;
  }

  /* XLarge screens */
  @media #{$w-al-xlarge} {
    width: 1200px;
  }
}

@mixin flex-col-center-start {
  @include _flex(column, center, flex-start);
}

@mixin flex-col-center-center {
  @include _flex(column, center, center);
}

@mixin flex-col-center-end {
  @include _flex(column, center, flex-end);
}

@mixin flex-row-center-start {
  @include _flex(row, center, flex-start);
}

@mixin flex-row-center-center {
  @include _flex(row, center, center);
}

@mixin flex-row-center-end {
  @include _flex(row, center, flex-end)
}

@mixin grid-square-cell {
  height: 100%;
  width: 100%;
  position: relative;

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

@mixin grid-square-cell-inner {
  position: absolute;
  width: 100%;
  height: 100%;
}
