@import "../vars/transitions";
@import "../vars/colors";

@mixin hover-lightgray {
  transition: background-color $transition-fast;
  &:hover {
    background-color: #f5f5f5;
  }
}

@mixin top-bar($left) {
  &::before {
    $transition-duration: $transition-fast;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: $left;
    width: 100px;
    height: 3px;
    background-color: $c-primary-sat-lo;
    transition: width $transition-duration,
                left $transition-duration,
                color $transition-duration;
  }

  &:hover {
    &::before {
      width: 100%;
      color: $c-primary;
      left: 0;
    }
  }
}
