@import "../../style/mixins/layout";
@import "../../style/vars/colors";
@import "../../style/vars/font-size";
@import "../../style/vars/spacing";

.Footer {
  @include center-container-wrapper;
  background-color: $c-dark-grey-dark;

  .content {
    @include container-responsive-width;
    @include _flex(row, flex-start, stretch);
    padding: $pad-rem-lg 0 $pad-rem-xl 0;
  }

  .logo {
    @include flex-col-center-start;

    img {
        height: 80px;
        width: 80px;
    }
  }

  .links {
    @include flex-col-center-start;

    ul {
        margin-top: 0px;
        list-style: None;

        li {
            font-size: $fs-sm;
            padding-bottom: $pad-rem-sm;

            a {
                color: $c-text-on-dark;
                text-decoration: none;
            }
        }
    }
  }

  .stay-in-touch {
    @include _flex(column, start, flex-end);
    margin-left: auto;
    font-size: $fs-sm;
    color: $c-softer-text-on-dark;

    & .row {
        @include _flex(row, start, flex-end);

        .col {
            @include _flex(column, center, flex-end);
        }
    }

    a {
        color: $c-softer-text-on-dark;
        font-size: $fs-lg;
        margin-right: $pad-rem-md;
        margin-top: $pad-rem-xs;
    }
  }

  .text {
    color: $c-text-on-dark;
    font-size: $fs-base;
  }
}
