<div class="small-12 medium-8 columns">
    <div class="row">
      <div class="small-12 medium-2 columns">
        <a href="http://zuehlke.com/" class="zue-logo-foot-wrap">
          <img class="zue-logo-foot" src="./assets/images/logo-zuehlke-small.png">
        </a>
      </div>
      <div class="small-12 medium-4 columns">
          <ul class="zue-footer-list">
              <li>
				  <a href="http://www.zuehlke.com/ch/en/markettrends/" target="_blank">Markettrends</a>
              </li>

              <li>
				  <a href="http://www.zuehlke.com/ch/en/success-stories/" target="_blank">Success Stories</a>
              </li>

              <li>
				  <a href="http://www.zuehlke.com/ch/en/industries/" target="_blank">Industries</a>
              </li>

              <li>
				  <a href="http://www.zuehlke.com/ch/en/about-us/" target="_blank">About us</a>
              </li>

              <li>
				  <a href="http://www.zuehlke.com/ch/en/about-us/contact/" target="_blank">Contact</a>
              </li>

              <li>
				  <a href="http://www.zuehlke.com/ch/en/legal/" target="_blank">Legal</a>
              </li>

              <li>
				  <a href="http://www.zuehlke.com/ch/en/terms-use/" target="_blank">Terms of Use</a>
              </li>

              <li>
				  <a href="http://www.zuehlke.com/ch/en/privacy-policy/" target="_blank">Privacy Policy</a>
              </li>
          </ul>

      </div>
      <div class="small-12 medium-6 columns">
          <ul class="zue-footer-list">
              Open Source
              <li>
				  <a href="https://github.com/Zuehlke" target="_blank">Zühlke Github</a>
              </li>

              <li>
				  <a href="http://blog.zuehlke.com/all/" target="_blank">Zühlke Github.io</a>
              </li>
          </ul>

        </div>
      </div>
    </div>
    </div>
    <div class="small-12 medium-4 columns">
      <h6>Stay in touch</h6>
    <ul class="zue-plain-list zue-social-list">
		<li><a href="http://blog.zuehlke.com/" title="Blog" target="_blank"><i class="icon-Blog"></i></a></li>        
		<li><a href="https://www.facebook.com/zuehlke.group" title="Facebook" target="_blank"><i class="icon-Facebook"></i></a></li>        
		<li><a href="https://twitter.com/zuehlke_group" title="Twitter" target="_blank"><i class="icon-Twitter"></i></a></li>        
		<li><a href="https://www.xing.com/" title="Xing" target="_blank"><i class="icon-Xing"></i></a></li>        
		<li><a href="https://www.linkedin.com/company/z-hlke-group/" title="LinkedIn" target="_blank"><i class="icon-Linkedin"></i></a></li>        
		<li><a href="http://www.kununu.com/de/all/de/it/zuehlke-engineering/" title="Kununu" target="_blank"><i class="icon-Kununu"></i></a></li>
		<li><a href="http://www.slideshare.net/Zuehlke" title="Slideshare"><i class="icon-Slideshare" target="_blank"></i></a></li>   
		<li><a href="https://www.youtube.com/user/zuehlkeengineering" title="Youtube"><i class="icon-Youtube" target="_blank"></i></a></li>
    </ul>
</div>
