@import "../../style/mixins/layout";
@import "../../style/vars/colors";
@import "../../style/vars/font-size";
@import "../../style/vars/spacing";

.ZueBanner {
  @include center-container-wrapper;
  background-color: $c-off-white;

  .content {
    @include container-responsive-width;
    padding: $pad-rem-lg $pad-rem-sm $pad-rem-xl $pad-rem-sm;
  }

  .text {
    color: $c-softer-text-on-light;
    font-size: $fs-md;
  }
}
