@import "../../style/mixins/styling";
@import "../../style/mixins/layout";
@import "../../style/vars/colors";
@import "../../style/vars/spacing";
@import "../../style/vars/media";

.RepoTile {
  @include _grid-cell-top-bar(0);
  @include _background-hover($c-off-white-lighter);
  @include _flex(column, center, center);
  width: 100%;
  height: 100%;
  background-color: $white;

  @media #{$w-am-medium} {
    @include _grid-cell-top-bar($pad-rem-md);
  }

  & > a {
    width: 100%;
    height: 100%;
  }

  & > a > .container {
    padding: $pad-rem-sm $pad-rem-sm $pad-rem-md $pad-rem-sm;

    @media #{$w-am-medium} {
      padding: $pad-rem-xs $pad-rem-md $pad-rem-xxl;
    }

    & > h2 {
      margin: 0 0 $pad-rem-xs 0;
    }

    & > .description-container {
      width: 100%;
      height: 100%;
    }
  }
}
