@import "../../style/mixins/functions";
@import "../../style/vars/colors";
@import "../../style/vars/spacing";
@import "../../style/vars/font-size";

.RepoTile {
  @include _flex(column, center, center);
  width: 100%;
  height: 100%;

  & a {
    text-decoration: none;
    color: $c-text-on-light;
    @include _flex(column, flex-start, flex-start);
    // padding: $pad-rem-sm;
    width: 100%;
    height: 100%;
    // background-color: magenta;
  }

  & h2 {
    margin: 0 0 $pad-rem-xs 0;
  }

  & .description {
    // background-color: lightgreen;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
