@import "style/vars/colors";
@import "style/vars/transitions";
@import "style/global/fonts";

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  .blur {
    filter: blur(4px);
    transition: filter 0s $transition-fast;
  }
}
