/* OFFCANVAS
##################################################################################################################### */

$offcanvas-navigation-right-width: 270px;
$offcanvas-transform: all .3s ease;

#outer {
    height: 100%;
    @include transition($offcanvas-transform);
}

#offcanvas-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: $offcanvas-navigation-right-width;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background: $white;
    @include transform(translate(100%, 0));
    @include transition($offcanvas-transform);
}

#sl_offcanvas-overlay {
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    z-index: 1500;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0;
    -webkit-backface-visibility: hidden;
}

.sl_offcanvas-open-right {
    #offcanvas-container {
        @include transform(translate(0, 0));
    }
    #outer {
        @include transform(translate(-$offcanvas-navigation-right-width, 0));
    }
    #sl_offcanvas-overlay {
        left: 0;
        opacity: 1;
        @include transition(opacity .5s ease-in-out);
    }
}

#side-search {
    .main-search-input {
        height: 45px;
    }
    @include input-placeholder {
        color: $gray-30;
    }
}

#side-nav {
    margin: 0;
    padding: 0;

    ul {
        margin: 0;
        padding: 0;

        li {
            display: block;
            color: $gray-100;
            border-bottom: 1px solid $gray-200;

            a {
                display: block;
                padding: $column-gutter/4 $column-gutter/2;
                color: $gray-100;
            }
        }
    }
}

#side-meta-nav {
    margin: 0;
    padding: 0;
    background: $gray-240;

    ul {
        margin: 0;
        padding: 0;

        li {
            display: block;
            color: $gray-100;
            border-bottom: 1px solid $gray-200;
            font-size: .85rem;

            a {
                display: block;
                padding: $column-gutter/6 $column-gutter/2;
                color: $gray-100;
            }
        }
    }
}