.zue-contact-sticky-container {

    .row {
        position: relative;
    }

    .zue-contact-sticky {
        position: relative;
        overflow: hidden;
        width: 100%;
		height: $topbar-height;
        background: $c-primary;
        color: $c-white;
        text-align: center;
        transition: all .2s ease-in-out;
        @extend %content-white;

		h2 {
			margin: 0 !important;
			font-size: 1.2em;
			height: $topbar-height;
			line-height: $topbar-height;
		}

		a {
			display: block;
			height: $topbar-height;
            padding-left: 15px;
            padding-right: 15px;
			line-height: $topbar-height;
			transition: background-color .3s ease-in-out;
			&:hover {
				background-color: darken($c-primary, 5%);
			}
		}

		i {
			font-size: 2em;
			vertical-align: -0.28em;
		}

        &[contact-menu='collapsed'] {
           height: $topbar-height;
        }

        &[contact-menu='expanded'] {
           height: $topbar-height*3;
        }

        @media #{$medium-up} {
            &:hover {
                height: $topbar-height*3;
            }
        }
    }

	&.is-fixed {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9999;
		.zue-contact-sticky {
			box-shadow: 0 0 15px rgba(0,0,0,.3);
		}
	}

    @media #{$medium-up} {
        display: block;
        position: absolute;
        z-index: 1000;
        width: 100%;

        .zue-contact-sticky {
            position: absolute;
            right: 0;
            width: 220px;
        }

    }
}