/* Teaser intro
##################################################################################################################### */

.zue-teaser-intro {

    .teaser-inner {
        position: relative;
        z-index: 10;

        @media #{$medium-up} {
            margin-top: -60px;
        }

        @media #{$large-up} {
            margin-top: -80px;
        }
    }

    .subtitle {
        @media #{$medium-up} {
            margin: -.75rem 0 2rem 0;
        }
        @media #{$large-up} {
            margin: -2rem 0 3rem 0;
        }
    }

    .video-teaser {
        @media #{$medium-up} {
            float: left;
            margin-top: 60px;
        }
        @media #{$large-up} {
            margin-top: 80px;
        }
    }

    .bg-filler {
        display: none;
        position: absolute;
        z-index: -5;
        top: 0;
        left: 0;
        width: 66.68%;
        height: 100%;
        background: rgba(255, 255, 255, .9);

        @media #{$medium-up} {
            display: block;
        }
    }

    .img-replacer {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        bottom: 0;
        width: 34%;
        background: rgba(255, 255, 255, .9);

        @media #{$medium-up} {
            display: block;
            margin-top: 60px;
        }

        @media #{$large-up} {
            margin-top: 80px;
        }
    }
}