.search-result {
    #search-form {
        position: relative;

        label { display: none; }

        input { margin: 0; }

        input[type="submit"] {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            margin: 0;
            padding: 0 1rem;
            color: $white;
            border: 0;
            outline: 0;
            background: $primary-color;
            @include transition(all .12s ease-in-out);

            &:hover {
                background: darken($primary-color, 5%);
            }
        }

        @media #{$medium-up} {
            width: 60%;
        }

        @media #{$large-up} {
            width: 40%;
        }
    }
}

.highlighted {
    color: $primary-color;
}

.zue-box-content:hover {
    .highlighted {
        color: $c-text-on-light !important;
    }
}

.search-entry {
    padding: 1rem;
    background: rgb(245,245,245);
    &:nth-child(even) {
        background: rgb(240,240,240);
    }

    .highlighted {
        font-weight: bold;
        color: rgb(20,20,20);
    }
}
