.bx-wrapper {
    position: relative;
    max-width: $row-width !important;
    margin: 0 auto;

    @include breakpoint-min(1600px) {
        max-width: 1200px !important;
    }
}

.bx-viewport {
    background: $primary-color;
}

.zue-slider {
    margin: 0;
    padding: 0;

    .row {
        position: relative;
    }

    .slide-text {
        margin: 0;
        padding: 0;
        @include box-padding('medium');
        padding-top: 50px;
        background: $primary-color;
    }

    .slide-image {
        margin: 0;
        padding: 0;
    }

    @media #{$medium-up} {

        .slide-text {
            position: absolute;
            width: 33.33%;
            height: 100%;
            padding-top: $column-gutter/2;

            p { font-size: .8rem; }
        }
    }

    @media #{$large-up} {

        .slide-text {
            padding-top: $column-gutter;
            p { font-size: 1rem; }
        }
    }
}

.bx-pager {
    position: absolute;
    top: 8px;
    right: 8px;

    .bx-pager-item {
        @include inline-block();

        a {
            display: block;
            margin: 0 3px;
            width: 15px;
            height: 15px;
            text-indent: -9999px;
            @include border-radius(100%);
            background-color: rgba(255, 255, 255, 0.5);

            &.active {
                background-color: $c-white;
            }
        }
    }

    @media #{$medium-up} {
        top: auto;
        bottom: 8px;
        right: auto;
        left: 0;
        width: 33.33%;
        text-align: center;
    }

    @media #{$large-up} {
        bottom: 20px;
    }
}

@media only screen and (min-width: 64.063em) {
    .box-padding-large {
        padding: 3.75rem 0rem;
    }
}