.zue-accordion {
	display: block;

	.accordion {
		margin: 0;
	}

	.accordion-navigation {

	}

	.zue-accordion-toggle {
		&::before {
			// Triangle
			display: inline-block;
			margin-right: 1em;
			content: ' ';
			width: 0;
			height: 0;
			border-left: 10px solid rgba(0, 0, 0, 0);
			border-right: 10px solid rgba(0, 0, 0, 0);
			border-top: 10px solid rgb(255, 118, 14);
			pointer-events: none;
		}
	}

	.active {
		.zue-accordion-toggle {
			&::before {
				border-left: 10px solid rgba(0, 0, 0, 0);
				border-right: 10px solid rgba(0, 0, 0, 0);
				border-top: none;
				border-bottom: 10px solid rgb(255, 118, 14);
			}
		}
	}

    .cms_plugin .content {
        display: block;
    }
}

@media #{$medium-up} {

}

@media #{$large-up} {

}