/* BREADCRUMB
##################################################################################################################### */

/* Sticky breadcrumb
-------------------------------------------------------------------*/
#sticky-breadcrumb {
    background: rgba(72,78,84,.95);
    color: #FFFFFF;
    z-index: 1000;
    width: 100%;
    position: fixed;
    bottom: 0em;
    line-height: 1.8125rem;
    font-size: 70%;
    i {
        font-size: 1.5em;
        vertical-align: middle;
    }
}

/* General styles for breadcrumb
-------------------------------------------------------------------*/
#breadcrumb-toggle {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    color: $white;
    padding: 0 1.5em;
    &[breadcrumb='visible']{
        bottom: auto;
        top: 0;
        i.show-breadcrumb {
            display: none;
        }
    }
    &[breadcrumb='hidden']{
        background: rgba(72,78,84,.95);
        margin-top: -3em;
        i.hide-breadcrumb {
            display: none;
        }
    }
}

#breadcrumb {
    display: none;
    padding: 0 1em 0 2em;
    float: left;
    overflow: hidden;
    color: $c-light-grey-dark;
    a {
        color: $white;
    }
}

#breadcrumb-toggle, #breadcrumb {
    padding-top:.9rem;
    padding-bottom: .9rem;
    line-height: 1.0125rem;
}

.separator {
    padding: 0 .5em;
    color: $c-light-grey-medium;
}

