
.grid-contain {
    position: relative;

    @media #{$medium-up} {
        max-width: $row-width;
        margin: 0 auto;
    }

    @include breakpoint-min(1600px) {
        max-width: 1200px !important;
    }
}

.zue-logo-head {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    display: block;
    text-indent: 110%;
    @extend .icon;
    @include sprite($logo-zuehlke-small);

    @media #{$medium-up} {
        top: 0;
        left: 0;
        margin-bottom: 0;
        @include sprite($logo-zuehlke-big);
    }

}

#mob-nav-toggler {
    position: absolute;
    z-index: 2000;
    top: 0;
    right: 0;
    width: 60px;
    padding: 13px;
    cursor: pointer;

    > span {
        display: block;
        width: 100%;
        height: 5px;
        margin-bottom: 3px;
        background: $gray-150;
        &:last-child {
            margin-bottom: 0;
        }
    }

    @media #{$large-up} {
        display: none;
    }
}

.zue-meta-nav {
    margin: 0 4rem 0 0;
    padding: 0;
    ul {
        max-width: $row-width;
        margin: 0 auto;
        padding: 0;
        text-align: right;
        li {
            position: relative;
            @include inline-block();
            font-size: .75rem;
            a {
                @include inline-block();
                color: $body-font-color;
                display: block;
                padding: $column-gutter/2 $column-gutter/4;
            }
            &.visible-small-up {
                @include inline-block();
            }
        }
    }
    
    @media #{$large-up} {
        margin: 0 1rem 0 0;
        ul li {
            @include inline-block();
            a {
                &:hover, &:focus, &:active {
                    background: $gray-240;
                }
            }
        }
    }
    @include breakpoint-min(1600px) {
        ul {
            max-width: 1200px;
        }
    }
}

ul.sub-dropdown {
    display: none;
    position: absolute;
    z-index: 1100;
    top: 45px;
    left: -.8rem;
    width: 150px;
    padding: .25rem 0;
    text-align: left;
    background: $gray-110;

    li {
        margin: 0;
        padding: 0;
        display: block !important;

        a {
            color: $gray-200;
            white-space: nowrap;
            display: block !important;
            padding: .3rem 1rem !important;

            span {
                pointer-events: none;
            }

            &:hover, &:focus, &:active {
                color: $white;
                background: $gray-120;

            }
        }
    }

    &:before {
        position: absolute;
        top: -7px;
        left: 50%;
        margin-left: -8px;
        @include arrow(top, $gray-110, 8px);
    }
}

#top-bar {
    display: none;
    position: relative;
    background: $c-dark-grey-dark;

    #top-bar-inner {
        position: relative;
    }

    @media #{$large-up} {
        display: block !important;

        #top-bar-inner {
            max-width: $row-width;
            margin: 0 auto;
        }
    }

    @include breakpoint-min(1600px) {
        #top-bar-inner {
            max-width: 1200px !important;
        }
    }
}

#zue-main-nav {
    margin: 0;
    padding: 0;
    ul {
        margin: 0;
        padding: 0;
        li {
            color: $white;
            border-bottom: 1px solid $gray-60;
            a {
                display: block;
                padding: $column-gutter/5 $column-gutter/3;
                color: $white;
            }
            &:last-child {
                border-bottom: 0;
            }
        }
    }
    @media #{$medium-up} {
        margin: 0;

        ul {
            @include inline-block();
            padding-left: 15%;
            li {
                @include inline-block();
                border-bottom: 0;
                a {
                    position: relative;
                    @include inline-block();
                    padding: $column-gutter/3.5 $column-gutter/4;
                    &:hover, &:focus, &:active {
                        background: $gray-60;
                    }
                }
                &.selected {
                    a:after {
                        position: absolute;
                        bottom: -9px;
                        left: 50%;
                        display: block;
                        content: '';
                        width: 0;
                        height: 0;
                        margin-left: -10px;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-top: 10px solid $c-dark-grey-dark;
                    }
                }
                &:hover {
                    &.selected a:after {
                        border-top: 10px solid $gray-60;
                    }
                }
            }
        }
    }
    @include breakpoint-min(1600px) {
        ul {
            padding-left: 14%;
        }
    }
}

#head-search {
    form {
        margin: 0;
    }
    @media #{$medium-up} {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 220px;
        background: rgb(130,130,130);
        .main-search-input {
            background: rgb(130,130,130);
        }
    }
}