/* HELPERS
##################################################################################################################### */

// Space
.nospace { margin-bottom: 0 !important; }
.halfspace { margin-bottom: .5em !important; }
.space-1 { margin-bottom: 1em !important; }
.space-2 { margin-bottom: 2em !important; }
.space-3 { margin-bottom: 3em !important; }
.space-4 { margin-bottom: 4em !important; }
.top-space-1 { margin-top: 1em !important;}
.top-space-2 { margin-top: 2em !important;}
.top-space-3 { margin-top: 3em !important;}
.top-space-4 { margin-top: 4em !important;}

// Text
.tx-uppercase { text-transform: uppercase !important; }
.tx-lowercase { text-transform: lowercase !important; }
.tx-default { text-transform: none !important; }
.tx-nowrap { white-space: nowrap; }

// Block
.block { display: block; }
.inline-block { @include inline-block(); }


// Colors
.color-primary { color: $c-primary !important; }
.color-white { color: $c-white !important; }
.bg-color-primary { background-color: $c-primary !important; }
.bg-color-primary { background-color: $c-primary !important; }
.bg-gray-light { background-color: $c-light !important; }

// Margins & paddings
.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}

.no-padding-top {
	padding-top: 0 !important;
}

// Box padding
.box-padding-small {
    padding: $column-gutter/2;
}
.box-padding-medium {
    padding: $column-gutter/2;
    @media #{$medium} {
        padding: $column-gutter;
    }
}
.box-padding-large {
    padding: $column-gutter/2;
    @media #{$medium} {
        padding: $column-gutter;
    }
    @media #{$large} {
        padding: $column-gutter*2;
    }
}
.box-padding-top-large {
    @media #{$medium} {
        padding-top: $column-gutter;
    }
    @media #{$large} {
        padding-top: $column-gutter*2;
    }
}

// Widths
.full-width {
    width: 100% !important;
}

// Lists
.basic-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

// Stuff
%content-white {
    h1,h2,h3,h4,h5,h6,p,ul,ol,a {
        color: $white;
    }
}

// Quote
.quote {
    &:before {
        content: '«'
    }
    &:after {
        content: '»'
    }
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/**
 * Used to absolutely position icons over a sibling element
 * inside a .zue-icon-wrap container.
 */

.zue-icon-wrap {
	position: relative !important;
}
