/* TYPE
##################################################################################################################### */

// Foundation font size overwrite
h1, .headersize-1 { font-size: rem-calc(30); }
h2, .headersize-2 { font-size: rem-calc(25); }
h3, .headersize-3 { font-size: rem-calc(25); }
h4, .headersize-4 { font-size: rem-calc(20); }
h5, .headersize-5 { font-size: rem-calc(20); }
h6, .headersize-6 { font-size: rem-calc(20); }

@media #{$medium-up} {
    h1, .headersize-1 { font-size: rem-calc(40); }
    h2, .headersize-2 { font-size: rem-calc(30); }
    h3, .headersize-3 { font-size: rem-calc(25); }
    h4, .headersize-4 { font-size: rem-calc(20); }
    h5, .headersize-5 { font-size: rem-calc(20); }
    h6, .headersize-6 { font-size: rem-calc(20); }
    .fs-large,  %fs-large { font-size: rem-calc(24px) !important; }
}

@media #{$large-up} {
    h1, .headersize-1 { font-size: rem-calc(50); }
    h2, .headersize-2 { font-size: rem-calc(40); }
    h3, .headersize-3 { font-size: rem-calc(30); }
    h4, .headersize-4 { font-size: rem-calc(25); }
    h5, .headersize-5 { font-size: rem-calc(20); }
    h6, .headersize-6 { font-size: rem-calc(20); }
}

// Paragraph font size classes
.fs-small, %fs-small { font-size: rem-calc(12px) !important; }
.fs-normal, %fs-normal { font-size: rem-calc($rem-base) !important; }

// Anchor
a {
    outline: 0 !important;
}
